/* ==========================================================================
   Border-box all the things!
   ========================================================================== */

*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* ==========================================================================
   General
   ========================================================================== */

body { 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 400;
	font-size-adjust: .46;
	font-style: normal;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
body p{	
	line-height: 2em;
	font-size: 1em;
}

/* ==========================================================================
   Links
   ========================================================================== */

a,
a:visited {
	color: inherit;
	text-decoration: none;
}
body p a{
	text-decoration: underline;
}
a{
	-webkit-transition-property: inherit;
	-moz-transition-property: inherit;
	-ms-transition-property: inherit;
	-o-transition-property: inherit;
	transition-property: inherit;

	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;

	-webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
a:hover{
	-webkit-transition-property: inherit;
	-moz-transition-property: inherit;
	-ms-transition-property: inherit;
	-o-transition-property: inherit;
	transition-property: inherit;

	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;

	-webkit-animation-fill-mode:both;
    animation-fill-mode:both;
}
span{
	-webkit-transition-property: inherit;
	-moz-transition-property: inherit;
	-ms-transition-property: inherit;
	-o-transition-property: inherit;
	transition-property: inherit;

	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
span:hover{
	-webkit-transition-property: inherit;
	-moz-transition-property: inherit;
	-ms-transition-property: inherit;
	-o-transition-property: inherit;
	transition-property: inherit;

	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;

	color: $yellow;
}


/* ==========================================================================
   Images
   ========================================================================== */

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	-webkit-transition-property: inherit;
	-webkit-transition-duration: 0.3s;
	-moz-transition-property: inherit;
}


/* ==========================================================================
   Typography
   ========================================================================== */

h1 { }
h2 { }
h3 { }
h4 { }

h1, h2, h3, h4, h5, h6 {
	clear: both;
	/*font-family: Vaud-display;*/
	font-weight: normal;
}

p {
	margin-bottom: 1.5em;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}


/* ==========================================================================
   Alignment
   ========================================================================== */

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}


/* ==========================================================================
   Accessiblity
   ========================================================================== */

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* ==========================================================================
   Clearings
   ========================================================================== */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}


/* ==========================================================================
   Infinite Scroll
   ========================================================================== */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}


/* ==========================================================================
   Fonts here
   ========================================================================== */

@include fontface('Vaud-regular', 'assets/fonts/', 'vaud-webfont');

@include fontface('Vaud-Medium', 'assets/fonts/', 'vaud_medium-webfont');

@include fontface('Vaud-Display', 'assets/fonts/', 'vaud_display_ultra-webfont');
