/* ==========================================================================
   Mixins
   ========================================================================== */

/*
 * Mixin for easy media queries
 * @include bp(tablet) { SCSS here };
*/
@mixin bp($point) {
	@if $point == biggie {
		@media (max-width : 1600px) { @content; }
	}
	@if $point == tablet-l {
		@media (max-width : 980px) { @content; }
	}
	@if $point == tablet-p {
		@media (max-width : 768px) { @content; }
	}
	@else if $point == phone {
		@media (max-width : 480px) { @content; }
	}
}

/*
 * Mixin for clearfix
 * @include clearfix;
*/
@mixin clearfix {
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
	    clear: both;
	}
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

/*
 * Mixin for big bg images
 * @include bg-image(repeat,cover,position);
*/
@mixin bg-image($repeat, $size, $position) {
	background-position:$position;
	background-repeat:$repeat;
	background-size:$size;	
}


/*
 * Mixin for basic CSS triangles
 * @include triangle(up, #000, 50px)
*/
@mixin triangle($direction:up, $color:#000, $size:100px) {
	@if($direction == up) {
		border-color: transparent transparent $color;
		border-style: solid;
		border-width: 0 $size $size;
		height: 0;
		width: 0;
	}
	@if($direction == down) {
		border-color: $color transparent transparent transparent;
		border-style: solid;
		border-width: $size;
		height:0;
		width:0;
	}
	@if($direction == left) {
		border-color: transparent $color transparent transparent;
		border-style: solid;
		border-width: $size $size $size 0;
		height: 0;
		width: 0;
	}
	@if($direction == right) {
		border-color: transparent transparent transparent $color;
		border-style: solid;
		border-width: $size 0 $size $size;
		height:0;
		width:0;
	}
}

/*
 * @font-face mixin
 * Bulletproof font-face via Font Squirrel
 * @include fontface('family', 'assets/fonts/', 'myfontname');
 */

@mixin fontface($font-family, $font-url, $font-name) {
	@font-face {
		font: {
			family: $font-family;
			style: normal;
			weight: normal;
		}
		src: url($font-url + '' + $font-name + '.eot');
		src: url($font-url + '' + $font-name + '.eot#iefix') format('embedded-opentype'),
			 url($font-url + '' + $font-name + '.woff') format('woff'),
			 url($font-url + '' + $font-name + '.ttf')  format('truetype'),
			 url($font-url + '' + $font-name + '.svg#' + $font-name) format('svg');
	}
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

// Lets do some animtion here

.animate {
    -moz-animation-duration: 2.8s;
    -webkit-animation-duration: 2.8s;
    -o-animation-duration: 2.8s;
    -ms-animation-duration: 2.8s;
    animation-duration: 2.8s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.logo-animate {
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.delay{
	-moz-animation-delay: 1.3s;
    -webkit-animation-delay: 1.3s;
    -o-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

.delay01{
	-moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.delay02{
	-moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.delay03{
	-moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.delay04{
	-moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
    -o-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    animation-delay: 2.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.delay05{
	-moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    -o-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.delay06{
	-moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
    -o-animation-delay: 3.5s;
    -ms-animation-delay: 3.5s;
    animation-delay: 3.5s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}





// For the purpose of headroom.js here

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20%);
    @include opacity(0);
  }

  100% {
    -webkit-transform: translateY(0);
    @include opacity(1);
  }
}

@-moz-keyframes slideDown {
  0% {
    -moz-transform: translateY(-20%);
    @include opacity(0);
  }

  100% {
    -moz-transform: translateY(0);
    @include opacity(1);
  }
}

@-o-keyframes slideDown {
  0% {
    -o-transform: translateY(-20%);
    @include opacity(0);
  }

  100% {
    -o-transform: translateY(0);
    @include opacity(1);
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-20%);
    @include opacity(0);
  }

  100% {
    transform: translateY(0);
    @include opacity(1);
  }
}

.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-100%);
  }
}
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }

  100% {
    -moz-transform: translateY(-100%);
  }
}
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }

  100% {
    -o-transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

@-webkit-keyframes fadeIn {
  0% {
    @include opacity(0);
  }

  100% {
    @include opacity(1);
  }
}
@-moz-keyframes fadeIn {
  0% {
    @include opacity(0);
  }

  100% {
    @include opacity(1);
  }
}
@-o-keyframes fadeIn {
  0% {
    @include opacity(0);
  }

  100% {
    @include opacity(1);
  }
}
@keyframes fadeIn {
  0% {
    @include opacity(0);
  }

  100% {
    @include opacity(1);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

