@include bp(biggie) { 
	$pageWidth: 1160px; 
	.container {
		max-width: $pageWidth;
	}
}
@include bp(tablet-l) {
$pageWidth: 980px; 
	.container {
		max-width: $pageWidth;
	}

}
@include bp(tablet-p) {
$pageWidth: 780px; 
	.container {
		max-width: $pageWidth;
	}
}
@include bp(phone) {
$pageWidth: 480px; 
	.container {
		max-width: $pageWidth;
	}

}