@include bp(biggie) { 
	$pageWidth: 1160px; 
	.container {
		max-width: $pageWidth;
	}
}
@include bp(tablet-l) {
	$pageWidth: 980px; 
	.container {
		max-width: $pageWidth;
	}

}
@include bp(tablet-p) {
	$pageWidth: 780px; 
	.container {
		max-width: $pageWidth;
	}
}
@include bp(phone) {
	$pageWidth: 480px; 
	.container {
		max-width: $pageWidth;
	}
	#logo{
		width: 80%;
		margin-top: -60px;
	}
	ul#the-anchors{
		padding: 0;
	}
	#the-cantina p{
		padding: 0 5%;
		font-size: 0.9em;
		line-height: 1.7em;
	}
	section#the-cantina article{
		height: 85%;
		overflow: scroll;
	}
	#clientele ul{
		margin: 0;
		padding: 0;
	}
	#clientele ul li.logo{
		padding: 0px;
	}

}