/* ==========================================================================
   Variables
   ========================================================================== */

// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 1160px;

// Text Selection
$selectionColor: #555;

// Colors
$red: red;
$blue: blue;
$yellow: #ffe403;
